html {
    scroll-behavior: smooth;
}

:root {
    --bg: #22223b;
    --font-light: #f2e9e4;
    --font-dark: #9a8c98;
    --accent: #c9ada7;
  }

body {
    background-color: var(--bg);
    font-size: 1.2rem;
    color: var(--font-light);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: justify;
}

.hero-gradient {
    visibility: visible;
    position: relative;
    width: 100%;
    margin-top: -30px;
    padding: 60px 12px 40px;
    background: -webkit-linear-gradient(270deg,#f2e9e4 9%,#22223b 100%);
    background: linear-gradient(-180deg,#f2e9e4 9%,#22223b 100%);
    height: 200px;
    margin-bottom: -10px;
    z-index: -1;
}
.wave {
    visibility: visible;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
}

svg path {
    fill: var(--bg);
}

@media screen and (min-width: 1024px) {
svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 100%;
    padding: 30px;
    color: var(--font-light);
    background-color: var(--bg);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: 'Sora', sans-serif;
}

header .title{
    max-width: 33%;
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: left;
}

header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu .menubutton{
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    width: 75px;
    text-align: center;
    transition: 0.3s ease-out;
}
header .menu .menubutton:hover{
    color: #9a8c98;
    transition: 0.3s ease-in;
}

.big-image{
    background: url(../images/i8.jpg);
    background-position: center;
    background-attachment: scroll;
    object-fit: fill;
    min-height: 800px;
    min-width: 100%;
}

.container{
    padding: 50px;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

.container .about{
    padding-top: 55px;
    padding-bottom: 80px;
}
.container .about .title{
    padding-top: 55px;
    padding-bottom: 80px;
}

.container .section {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-auto-flow: dense;
    justify-content: unset;
    align-items: unset;
    grid-gap: 2rem;
}

.container .section .title{
    grid-row: 1;
    grid-column: 2 / -1;
}

.container .section .content{
    grid-column: 2 / -1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.container .section .image{
    grid-column: 1;
    grid-row: span 2;
    justify-self: center;
    align-self: center;
}

.container .section .image img{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    font-size: 0.9rem;
    background-color: var(--accent);
    color: black;
    padding: 10px
}


@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 3px;
    }
    header {
        width: 100%;
        height: 100px;
        max-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        letter-spacing: unset;
        height: auto;
        padding: auto;
    }
    header .title{
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-break: none;
    }

    header .title span{
        text-align: center;
    }

    header .menu{
        font-size: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .menu .menubutton{
        height: 1rem;
        margin: 0;
        text-align: center;
    }

    .big-image{
        background: url(../images/i8.jpg);
        background-position: center;
        background-attachment: fixed;
        object-fit: fill;
        min-width: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .container .section{
        padding: 0;
    }

    .container .section .image{
        width: 100%;
    }

    .hero-gradient {
        visibility: hidden;
        position: relative;
        width: 100%;
        margin-top: -30px;
        background: -webkit-linear-gradient(270deg,var(--font-light) 0%,#22223b 100%);
        background: linear-gradient(-180deg,var(--font-light)  0%,#22223b 100%);
        height: 100px;
        margin-bottom: -50px;
        z-index: -1;
    }
    .wave {
        visibility: hidden;
        position: absolute;
        height: 50px;
        top: 0;
        left: 0;
    }
    .container{
        padding: 0;
    }
    
    .container .about{
        padding-top: 55px;
        padding-bottom: 80px;
    }
    
    .container .section {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 45px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, auto);
        grid-auto-flow: column;
        justify-content: unset;
        align-items: unset;
    }
    
    .container .section .title{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        text-transform: uppercase;   
        font-family: 'Sora', sans-serif;
        font-weight: bold;
    }
    
    .container .section .content{
        grid-row: 2;
        grid-column: 1;

        justify-self: center;
        align-self: center;
    }
    
    .container .section .image{
        grid-row: 1;
        grid-column: 1;
        z-index: -1;
        justify-self: center;
        align-self: center;
    }
    
    .container .section .image img{
        width: 100vw; 
        max-height: 350px;
        object-fit: cover;
    }

}